In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

# –î–ª—è —Ä–∞–±–æ—Ç—ã —Å –º–∞—Ç—Ä–∏—Ü–∞–º–∏
from scipy.sparse import csr_matrix, coo_matrix

# –î–µ—Ç–µ—Ä–º–∏–Ω–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ –∞–ª–≥–æ—Ä–∏—Ç–º—ã
from implicit.nearest_neighbours import ItemItemRecommender, CosineRecommender, TFIDFRecommender, BM25Recommender

# –ú–µ—Ç—Ä–∏–∫–∏
from implicit.evaluation import train_test_split
from implicit.evaluation import precision_at_k, mean_average_precision_at_k, AUC_at_k, ndcg_at_k

np.random.seed(0)

In [2]:
data = pd.read_csv('C:/Users/Oksen/recsys/lesson2/retail_train.csv')
data.head(2)

,user_id,basket_id,day,item_id,quantity,sales_value,store_id,retail_disc,trans_time,week_no,coupon_disc,coupon_match_disc
0,2375,26984851472,1,1004906,1,1.39,364,-0.6,1631,1,0.0,0.0
1,2375,26984851472,1,1033142,1,0.82,364,0.0,1631,1,0.0,0.0

In [3]:
test_size_weeks = 3

data_train = data[data['week_no'] < data['week_no'].max() - test_size_weeks]
data_test = data[data['week_no'] >= data['week_no'].max() - test_size_weeks]

#### –ü–µ—Ä–µ–Ω–µ—Å–µ–º –Ω—É–∂–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏ –∏–∑ –≤–µ–±–∏–Ω–∞—Ä–∞

In [4]:
def precision_at_k(recommended_list, bought_list, k=5):
    
    bought_list = np.array(bought_list)
    recommended_list = np.array(recommended_list)
    
    bought_list = bought_list  # –¢—É—Ç –Ω–µ—Ç [:k] !!
    recommended_list = recommended_list[:k]
    
    flags = np.isin(bought_list, recommended_list)
    
    precision = flags.sum() / len(recommended_list)
    
    
    return precision

In [5]:
def random_recommendation(items, n=5):
    """–°–ª—É—á–∞–π–Ω—ã–µ —Ä–µ–∫–æ–º–º–µ–Ω–¥–∞—Ü–∏–∏"""
    
    
    items = np.array(items)
    recs = np.random.choice(items, size=n, replace=False)
    
    return recs.tolist()

In [6]:
def popularity_recommendation(data, n=5):
    """–¢–æ–ø-n –ø–æ–ø—É–ª—è—Ä–Ω—ã—Ö —Ç–æ–≤–∞—Ä–æ–≤"""
    
    popular = data.groupby('item_id')['sales_value'].sum().reset_index()
    popular.sort_values('sales_value', ascending=False, inplace=True)
    
    recs = popular.head(n).item_id
    
    return recs.tolist()

### –ó–∞–¥–∞–Ω–∏–µ 1. Weighted Random Recommendation

–ù–∞–ø–∏—à–∏—Ç–µ –∫–æ–¥ –¥–ª—è —Å–ª—É—á–∞–π–Ω—ã—Ö —Ä–µ–∫–æ–º–º–µ–Ω–¥–∞—Ü–∏–π, –≤ –∫–æ—Ç–æ—Ä—ã—Ö –≤–µ—Ä–æ—è—Ç–Ω–æ—Å—Ç—å —Ä–µ–∫–æ–º–µ–Ω–¥–æ–≤–∞—Ç—å —Ç–æ–≤–∞—Ä –ø—Ä—è–º–æ –ø—Ä–æ–ø–æ—Ä—Ü–∏–æ–Ω–∞–ª—å–Ω–∞ –ª–æ–≥–∞—Ä–∏—Ñ–º—É –ø—Ä–æ–¥–∞–∂
- –ú–æ–∂–Ω–æ —Å—ç–º–ø–ª–∏—Ä–æ–≤–∞—Ç—å —Ç–æ–≤–∞—Ä—ã —Å–ª—É—á–∞–π–Ω–æ, –Ω–æ –ø—Ä–æ–ø–æ—Ä—Ü–∏–æ–Ω–∞–ª—å–Ω–æ –∫–∞–∫–æ–º—É-–ª–∏–±–æ –≤–µ—Å—É
- –ù–∞–ø—Ä–∏–º–µ—Ä, –ø—Ä—è–º–æ–ø—Ä–æ–ø–æ—Ä—Ü–∏–æ–Ω–∞–ª—å–Ω–æ –ø–æ–ø—É–ª—è—Ä–Ω–æ—Å—Ç–∏. –í–µ—Å = log(sales_sum —Ç–æ–≤–∞—Ä–∞)

In [7]:
def weighted_random_recommendation(items_weights, n=5):
    """–°–ª—É—á–∞–π–Ω—ã–µ —Ä–µ–∫–æ–º–º–µ–Ω–¥–∞—Ü–∏–∏
    
    Input
    -----
    items_weights: pd.DataFrame
        –î–∞—Ç–∞—Ñ—Ä–µ–π–º —Å–æ —Å—Ç–æ–ª–±—Ü–∞–º–∏ item_id, weight. –°—É–º–º–∞ weight –ø–æ –≤—Å–µ–º —Ç–æ–≤–∞—Ä–∞–º = 1
    """
    items = item_weights['item_id']
    weights = item_weights['weight']
    recs = np.random.choice(items, size=n, replace=False, p = weights)

    return recs.tolist()

In [8]:
item_weights = data_train.groupby('item_id')['sales_value'].sum().reset_index()
item_weights['weight'] = item_weights['sales_value']/np.sum(item_weights['sales_value'])
item_weights.head(2)

   item_id  sales_value        weight
0    25671        20.94  2.969296e-06
1    26081         0.99  1.403822e-07

In [9]:
result = data_test.groupby('user_id')['item_id'].unique().reset_index()
result.columns=['user_id', 'actual']
result.head(2)

   user_id                                             actual
0        1  [821867, 834484, 856942, 865456, 889248, 90795...
1        3  [835476, 851057, 872021, 878302, 879948, 90963...

#### –°–¥–µ–ª–∞–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è —Å –ø–æ–º–æ—â—å—é –±–µ–π–∑–ª–∞–π–Ω - –∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤ –±–µ–∑ –≤—ã–¥–µ–ª–µ–Ω–∏—è —Ç–æ–ø-5000

In [10]:
items = data_train.item_id.unique()
result['random_recommendation'] = result['user_id'].apply(lambda x: random_recommendation(items))

In [11]:
result['popularity_recommendation'] = result['user_id'].apply(lambda x: popularity_recommendation(data_train))

In [12]:
result['weighted_random_recommendation'] = result['user_id'].apply(lambda x: weighted_random_recommendation(item_weights))
result.head(2)

,user_id,actual,random_recommendation,popularity_recommendation,weighted_random_recommendation
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[13133794, 5579543, 12384762, 7409462, 1042390]","[6534178, 6533889, 1029743, 6534166, 1082185]","[5567755, 835098, 1037337, 5572738, 998557]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1026922, 12385594, 850687, 9420068, 12356449]","[6534178, 6533889, 1029743, 6534166, 1082185]","[1099372, 6534178, 865751, 873627, 1070272]"

In [16]:
popularity = data_train.groupby('item_id')['quantity'].sum().reset_index()
popularity.rename(columns={'quantity': 'n_sold'}, inplace=True)

popularity.head()

   item_id  n_sold
0    25671       6
1    26081       1
2    26093       1
3    26190       1
4    26355       2

In [17]:
top_5000 = popularity.sort_values('n_sold', ascending=False).head(5000).item_id.tolist()

In [18]:
# –ó–∞–≤–µ–¥–µ–º —Ñ–∏–∫—Ç–∏–≤–Ω—ã–π item_id (–µ—Å–ª–∏ —é–∑–µ—Ä –ø–æ–∫—É–ø–∞–ª —Ç–æ–≤–∞—Ä—ã –∏–∑ —Ç–æ–ø-5000, —Ç–æ –æ–Ω "–∫—É–ø–∏–ª" —Ç–∞–∫–æ–π —Ç–æ–≤–∞—Ä)
data_train.loc[~data_train['item_id'].isin(top_5000), 'item_id'] = 999999

C:\Users\Oksen\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

#### –ü–æ–ø—Ä–æ–±—É–µ–º —É–ª—É—á—à–∏—Ç—å –±–µ–π–∑–ª–∞–π–Ω—ã, —Å—á–∏—Ç–∞—è –∏—Ö –Ω–∞ —Ç–æ–ø-5000 —Ç–æ–≤–∞—Ä–æ–≤

In [19]:
items = data_train.item_id.unique()
result['random_recommendation_top5000'] = result['user_id'].apply(lambda x: random_recommendation(items))

In [20]:
result['popularity_recommendation_top5000'] = result['user_id'].apply(lambda x: popularity_recommendation(data_train))

In [21]:
item_weights = data_train.groupby('item_id')['sales_value'].sum().reset_index()
item_weights['weight'] = item_weights['sales_value']/np.sum(item_weights['sales_value'])
result['weighted_random_recommendation_top5000'] = result['user_id'].apply(lambda x: weighted_random_recommendation(item_weights))
result.head(2)

,user_id,actual,random_recommendation,popularity_recommendation,weighted_random_recommendation,random_recommendation_top5000,popularity_recommendation_top5000,weighted_random_recommendation_top5000
0,1,"[821867, 834484, 856942, 865456, 889248, 90795...","[13133794, 5579543, 12384762, 7409462, 1042390]","[6534178, 6533889, 1029743, 6534166, 1082185]","[5567755, 835098, 1037337, 5572738, 998557]","[963502, 1099089, 9526886, 857390, 883912]","[999999, 6534178, 6533889, 1029743, 6534166]","[999999, 898068, 1001333, 872137, 838186]"
1,3,"[835476, 851057, 872021, 878302, 879948, 90963...","[1026922, 12385594, 850687, 9420068, 12356449]","[6534178, 6533889, 1029743, 6534166, 1082185]","[1099372, 6534178, 865751, 873627, 1070272]","[931777, 1132231, 1084597, 937845, 9913338]","[999999, 6534178, 6533889, 1029743, 6534166]","[987218, 862349, 999999, 819643, 6534178]"

#### –†–∞—Å—Å—á–∏—Ç–∞–µ–º –º–µ—Ç—Ä–∏–∫–∏ –±–µ–π–∑–ª–∞–π–Ω-–∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤, —Ä–∞—Å—Å—á–∏—Ç–∞–Ω–Ω—ã–µ —Å –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–µ–º —Ç–æ–ø-5000 –∏ –±–µ–∑.(–ó–∞–¥–∞–Ω–∏–µ 2)

In [22]:
result.apply(lambda row: precision_at_k(row['random_recommendation'], row['actual']), axis=1).mean()

0.000979431929480901

In [23]:
result.apply(lambda row: precision_at_k(row['random_recommendation_top5000'], row['actual']), axis=1).mean()

0.006366307541625852

In [24]:
result.apply(lambda row: precision_at_k(row['popularity_recommendation'], row['actual']), axis=1).mean()

0.15523996082272082

In [25]:
result.apply(lambda row: precision_at_k(row['popularity_recommendation_top5000'], row['actual']), axis=1).mean()

0.08560235063663048

In [26]:
result.apply(lambda row: precision_at_k(row['weighted_random_recommendation'], row['actual']), axis=1).mean()

0.02174338883447604

In [27]:
result.apply(lambda row: precision_at_k(row['weighted_random_recommendation_top5000'], row['actual']), axis=1).mean()

0.02997061704211569

#### –ü–æ–ø—Ä–æ–±—É–µ–º —Ä–∞–∑–Ω—ã–µ –≤–∞—Ä–∏–∞–Ω—Ç—ã ItemItemRecommender, –≤—ã–±–∏—Ä–∞—è —á–∏—Å–ª–æ —Å–æ—Å–µ–¥–µ–π  ùêæ .

In [28]:
user_item_matrix = pd.pivot_table(data_train, 
                                  index='user_id', columns='item_id', 
                                  values='quantity',
                                  aggfunc='count', 
                                  fill_value=0
                                 )

user_item_matrix[user_item_matrix > 0] = 1 # —Ç–∞–∫ –∫–∞–∫ –≤ –∏—Ç–æ–≥–µ —Ö–æ—Ç–∏–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞—Ç—å 
user_item_matrix = user_item_matrix.astype(float) # –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–π —Ç–∏–ø –º–∞—Ç—Ä–∏—Ü—ã –¥–ª—è implicit

# –ø–µ—Ä–µ–≤–µ–¥–µ–º –≤ —Ñ–æ—Ä–º–∞—Ç saprse matrix
sparse_user_item = csr_matrix(user_item_matrix).tocsr()

user_item_matrix.head(3)

item_id,202291,397896,420647,480014,545926,707683,731106,818980,819063,819227,...,15778533,15831255,15926712,15926775,15926844,15926886,15927403,15927661,15927850,16809471
user_id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
userids = user_item_matrix.index.values
itemids = user_item_matrix.columns.values

matrix_userids = np.arange(len(userids))
matrix_itemids = np.arange(len(itemids))

id_to_itemid = dict(zip(matrix_itemids, itemids))
id_to_userid = dict(zip(matrix_userids, userids))

itemid_to_id = dict(zip(itemids, matrix_itemids))
userid_to_id = dict(zip(userids, matrix_userids))

In [30]:
best_k, best_prec = 0,0

for i in range(1,6):

    model = ItemItemRecommender(K=i, num_threads=4) # K - –∫–æ–ª-–≤–æ –±–∏–ª–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π

    model.fit(csr_matrix(user_item_matrix).T.tocsr(),  # –ù–∞ –≤—Ö–æ–¥ item-user matrix
          show_progress=False)

    recs = model.recommend(userid=userid_to_id[2],  # userid - id –æ—Ç 0 –¥–æ N
                        user_items=sparse_user_item,   # –Ω–∞ –≤—Ö–æ–¥ user-item matrix
                        N=5, # –∫–æ–ª-–≤–æ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü–∏–π 
                        filter_already_liked_items=False, 
                        filter_items=None, 
                        recalculate_user=True)

    result['itemitem' + str(i)] = result['user_id'].\
        apply(lambda x: [id_to_itemid[rec[0]] for rec in 
                        model.recommend(userid=userid_to_id[x], 
                                        user_items=sparse_user_item,   # –Ω–∞ –≤—Ö–æ–¥ user-item matrix
                                        N=5, 
                                        filter_already_liked_items=False, 
                                        filter_items=None, 
                                        recalculate_user=True)])
    prec_at_k = result.apply(lambda row: precision_at_k(row['itemitem' + str(i)], row['actual']), axis=1).mean()
    if prec_at_k > best_prec:
        best_k = i
        best_prec = prec_at_k
    print(f'–ü—Ä–∏ –∫ = {i} precision_at_k = {prec_at_k}');
    
print(f"–õ—É—á—à–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –º–µ—Ç—Ä–∏–∫–∏ {best_prec} –¥–æ—Å—Ç–∏–≥–∞–µ—Ç—Å—è –¥–ª—è K = {best_k}")

–ü—Ä–∏ –∫ = 1 precision_at_k = 0.1799869409076044
–ü—Ä–∏ –∫ = 2 precision_at_k = 0.1920094678419821
–ü—Ä–∏ –∫ = 3 precision_at_k = 0.1860920666013684
–ü—Ä–∏ –∫ = 4 precision_at_k = 0.14495592556317158
–ü—Ä–∏ –∫ = 5 precision_at_k = 0.13692458374142857
–õ—É—á—à–µ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –º–µ—Ç—Ä–∏–∫–∏ 0.1920094678419821 –¥–æ—Å—Ç–∏–≥–∞–µ—Ç—Å—è –¥–ª—è K = 2

### –ó–∞–¥–∞–Ω–∏–µ 4. –£–ª—É—á—à–µ–Ω–∏–µ –¥–µ—Ç–µ—Ä–º–∏–Ω–∏—Ä–æ–≤–∞–Ω–Ω—ã—Ö –∞–ª–≥–æ—Ä–∏—Ç–º–æ–≤
–ù–∞ —Å–µ–º–∏–Ω–∞—Ä–µ –º—ã —Ä–∞—Å—Å–º–∞—Ç—Ä–∏–≤–∞–ª–∏

–î–∞–ª–µ–µ $U \equiv N_i(u) $

$$r_{u,i} =  \frac{1}{S}\sum\limits_{v \in U}\operatorname{sim}(u,v)r_{v, i}$$
$$ S = \sum\limits_{v \in U} \operatorname{sim}(u,v)$$

–ü—Ä–µ–¥–ª–∞–≥–∞–µ—Ç—Å—è —É–ª—É—á—à–∏—Ç—å —ç—Ç—É —Ñ–æ—Ä–º—É–ª—É –∏ —É—á–µ—Å—Ç—å —Å—Ä–µ–¥–Ω–∏–µ –ø—Ä–µ–¥–ø–æ—á—Ç–µ–Ω–∏—è –≤—Å–µ—Ö –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π

$$r_{u,i} = \mu + \bar{r_u} + \frac{1}{S}\sum\limits_{v \in U}\operatorname{sim}(u,v)(r_{v, i}-\bar{r_{v}} - \mu)$$

–ö–∞–∫–∏–µ —Å–º—ã—Å–ª –∏–º–µ–µ—é—Ç $ \mu $ –∏ $ \bar{r_u}$ ?

–†–µ–∞–ª–∏–∑—É–π—Ç–µ –∞–ª–≥–æ—Ä–∏—Ç–º, –ø—Ä–æ–≥–Ω–æ–∑–∏—Ä—É—é—â–∏–π —Ä–µ–π—Ç–∏–Ω–≥–∏ –Ω–∞ –æ—Å–Ω–æ–≤–µ –¥–∞–Ω–Ω–æ–π —Ñ–æ—Ä–º—É–ª—ã, –Ω–∞ numpy (–≤–µ–∫—Ç–æ—Ä–∏–∑–æ–≤–∞–Ω–Ω–æ!)

–í –∫–∞—á–µ—Å—Ç–≤–µ —Å—Ö–æ–∂–µ—Å—Ç–∏ –≤–æ–∑—å–º–∏—Ç–µ CosineSimilarity.

–ü—Ä–∏–º–µ–Ω–∏—Ç–µ –∫ user_item_matrix. –í –∫–∞—á–µ—Å—Ç–≤–µ —Ä–µ–π—Ç–∏–Ω–≥–æ–≤ –≤–æ–∑—å–º–∏—Ç–µ –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –∏–ª–∏ —Å—Ç–æ–∏–º–æ—Å—Ç—å –∫—É–ø–ª–µ–Ω–Ω–æ–≥–æ —Ç–æ–≤–∞—Ä–∞. 
–î–∞–Ω–Ω—ã–π –∞–ª–≥–æ—Ä–∏—Ç–º –ø—Ä–µ–¥—Å–∫–∞–∑—ã–≤–∞–µ—Ç —Ä–µ–π—Ç–∏–Ω–≥–∏. –ö–∞–∫ –Ω–∞ –æ—Å–Ω–æ–≤–∞–Ω–∏–∏ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–Ω—ã—Ö —Ä–µ–π—Ç–∏–Ω–≥–æ–≤ –ø—Ä–µ–¥—Å–∫–∞–∑–∞—Ç—å —Ñ–∞–∫—Ç –ø–æ–∫—É–ø–∫–∏?

–ü—Ä–µ–¥–ª–æ–∂–∏—Ç–µ –≤–∞—Ä–∏–∞–Ω—Ç.
–ü–æ—Å—á–∏—Ç–∞–π—Ç–µ accuracy@5 –∏ —Å—Ä–∞–≤–Ω–∏—Ç–µ —Å –∞–ª–≥–æ—Ä–∏—Ç–º–∞–º–∏, —Ä–∞–∑–æ–±—Ä–∞–Ω–Ω—ã–º–∏ –Ω–∞ –≤–µ–±–∏–Ω–∞—Ä–µ.